.ui.card.system-card {
    width:100%;
}

.ui.card.system-card:hover, .ui.cards a.card:hover {
    cursor: default;
}

a.ui.card.system-card:hover {
    transform: none;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}

.domain-name {
    font-size: 16px;
    font-weight: 700;
}

.ui.segment.capability-name:hover {
    cursor: pointer;
    z-index: 5;
	-webkit-box-shadow: 0 8px 6px -6px #d4d4d5;
    -moz-box-shadow: 0 8px 6px -6px #d4d4d5;
    box-shadow: 0 8px 6px -6px #d4d4d5;
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);}

.domain-desc {
    font-size: 11px;
    font-weight: 300;
    font-style: italic;
}

.ui .platform-name-title {
    color: black;
    background-color: #FFE599;
    border: none;
    font-size: 1.5em;
}

.ui.segment.capability-name {
    color:#525252;
    display:block;
    font-size:15.5px;
    padding:16px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.ui.attached.header.capability-name-title {
    padding: 20px;
}

.ui .capability-missing {
    background-color: #f8d7da;
}

.full-width-height {
    width: 100%;
    height: 100%;
}

.capability-desc {
    font-style: italic;
}

.topo-logo {
    margin: 20px;
    width:175px;
    margin-bottom: 40px;
}

.ui.top.header.platform-header, .ui.top.header.capability-view-header {
    padding: 30px;
    font-size: 2.25em;
}

.ui.grid {
    padding: 0;
}

.ui.grid > .row {
    padding: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}

.ui.grid > .row:first-child {
    margin-top: 10px;
}

.ui.grid > .row > .column {
    padding-right: 5px;
    padding-left: 5px;
}

.ui.grid > .row > .column:first-child {
    padding-right: 5px;
    margin-left: 10px;

}

.ui.grid > .row > .column:last-child {
    padding-left: 5px;
    margin-right: 10px;
}

.ui.card.system-card .content.system-card-header {
    background-color: #F2F2F2;
    padding:25px;
}

.ui.card.system-card .content.system-card-header .header {
    font-size: 23px;
    color: white;
}

.ui.card.system-card .content.system-card-desc {
    background-color: white;
    padding: 20px;
    height:100%;
    color: #505050;
}

.ui.large.breadcrumb .section {
    color: grey;
}

.ui.large.breadcrumb a.section {
    cursor: auto;
}

.ui.large.breadcrumb .active.section {
    color: black;
}

@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    } 
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
