.title {
  background: rgb(133, 193, 233);
  padding: 25px;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-size: 23px;
  color: white;
  text-align: center;
}

.greyBox{
  background: #f5f5f5;
  padding: 25px 0 25px 0;
}

.bigBoldBeautiful{
 font-weight: bolder; 
  text-align: center;
}